body {
  background: dimgrey;
  padding-top: 55%;
  padding-bottom: 50px;
}
.card {
  height: 300px;
}
.card-image img {
  height: 150px;
}
.button-icon {
  border-radius: 50%;
  width: 35px;
}
.buttonDiv {
  padding: 40px;
}
.buttonDiv a {
  margin: 10px 20px;
}
.btn,
.btn-large{
  background-color: sienna;
  box-shadow: 0 10px 10px #444;
}
.language-title {
  color: #CF4646;
  text-shadow: 3px 3px 3px #000
}
.letter-spacing {
  letter-spacing: 10px
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  @media only screen and (max-width : 1100px) {
    body{
      padding-top: 725px;
    }
  }

@media only screen and (max-width : 992px) {
  body{
    padding-top: 700px;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  body{
    padding-top: 650px;
  }

  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width : 540px) {
  body{
    padding-top: 650px;
  }

}
